ESP32_WiFi_MQTT_LED_Control.json
[
    {
        "id": "a950d00ccb63ae22",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "241b7148e1080fca",
        "type": "mqtt out",
        "z": "a950d00ccb63ae22",
        "name": "",
        "topic": "/LedControl",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1c809b05dead725d",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "0f9cfd56ddf8a7ae",
        "type": "ui_button",
        "z": "a950d00ccb63ae22",
        "name": "",
        "group": "b7e78917daee8bc7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "/LedControl",
        "topicType": "msg",
        "x": 390,
        "y": 160,
        "wires": [
            [
                "241b7148e1080fca"
            ]
        ]
    },
    {
        "id": "7b3a47a680939156",
        "type": "ui_button",
        "z": "a950d00ccb63ae22",
        "name": "",
        "group": "b7e78917daee8bc7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "/LedControl",
        "topicType": "msg",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "241b7148e1080fca"
            ]
        ]
    },
    {
        "id": "1c809b05dead725d",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b7e78917daee8bc7",
        "type": "ui_group",
        "name": "Led Control",
        "tab": "9d17ac335cd6d8bb",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d17ac335cd6d8bb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]