WiFi_MQTT_LED_Control_8_ALL_OFF_2.json
[
    {
        "id": "67666262a12eee85",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb374f2ef9e18e7e",
        "type": "mqtt-broker",
        "name": "test.mosquitto.org",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1c809b05dead725d",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "388ab3a8205afa04",
        "type": "ui_group",
        "name": "LED Control",
        "tab": "1a0411b0282e0b71",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1a0411b0282e0b71",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "466caa844216ad8c",
        "type": "ui_group",
        "name": "Led Control",
        "tab": "68290116d4ee70f9",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "68290116d4ee70f9",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a4b81100130d53ef",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4d0e21e7f6777103",
        "type": "mqtt out",
        "z": "67666262a12eee85",
        "name": "",
        "topic": "/LedControl",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a4b81100130d53ef",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "b477ae1226760d17",
        "type": "ui_switch",
        "z": "67666262a12eee85",
        "name": "",
        "label": "LED1",
        "tooltip": "",
        "group": "466caa844216ad8c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led1_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led1_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "4d0e21e7f6777103"
            ]
        ]
    },
    {
        "id": "6e82ecfde2bf32d2",
        "type": "ui_switch",
        "z": "67666262a12eee85",
        "name": "",
        "label": "LED2",
        "tooltip": "",
        "group": "466caa844216ad8c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led2_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led2_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "4d0e21e7f6777103"
            ]
        ]
    },
    {
        "id": "208cc097d186c10c",
        "type": "ui_switch",
        "z": "67666262a12eee85",
        "name": "",
        "label": "LED3",
        "tooltip": "",
        "group": "466caa844216ad8c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led3_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led3_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "4d0e21e7f6777103"
            ]
        ]
    },
    {
        "id": "b1f57196b94a104d",
        "type": "ui_switch",
        "z": "67666262a12eee85",
        "name": "",
        "label": "LED4",
        "tooltip": "",
        "group": "466caa844216ad8c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led4_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led4_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 340,
        "wires": [
            [
                "4d0e21e7f6777103"
            ]
        ]
    },
    {
        "id": "7e2a1bed7b906f66",
        "type": "ui_switch",
        "z": "67666262a12eee85",
        "name": "",
        "label": "LED5",
        "tooltip": "",
        "group": "466caa844216ad8c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led5_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led5_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "4d0e21e7f6777103"
            ]
        ]
    },
    {
        "id": "7db39737159ee400",
        "type": "ui_switch",
        "z": "67666262a12eee85",
        "name": "",
        "label": "LED6",
        "tooltip": "",
        "group": "466caa844216ad8c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led6_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led6_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "4d0e21e7f6777103"
            ]
        ]
    },
    {
        "id": "0a10ea1ce3b6a937",
        "type": "ui_switch",
        "z": "67666262a12eee85",
        "name": "",
        "label": "LED7",
        "tooltip": "",
        "group": "466caa844216ad8c",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led7_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led7_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "4d0e21e7f6777103"
            ]
        ]
    },
    {
        "id": "f64a2ee93538571f",
        "type": "ui_switch",
        "z": "67666262a12eee85",
        "name": "",
        "label": "LED8",
        "tooltip": "",
        "group": "466caa844216ad8c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led8_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led8_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 410,
        "y": 580,
        "wires": [
            [
                "4d0e21e7f6777103"
            ]
        ]
    },
    {
        "id": "96e01bad08347631",
        "type": "ui_button",
        "z": "67666262a12eee85",
        "name": "",
        "group": "466caa844216ad8c",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ALL LED OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ALL_LED_OFF",
        "payloadType": "str",
        "topic": "/LedControl",
        "topicType": "msg",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "1427483f03da4b30"
            ]
        ]
    },
    {
        "id": "1427483f03da4b30",
        "type": "function",
        "z": "67666262a12eee85",
        "name": "function 1",
        "func": "let messages = [];\n\nfor (let i = 1; i <= 8; i++) {\n    messages.push({ topic: \"/LedControl\", payload: \"led\" + i + \"_0\" });\n}\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 560,
        "wires": [
            [
                "4d0e21e7f6777103"
            ]
        ]
    },
    {
        "id": "a14aee7ee3777614",
        "type": "mqtt in",
        "z": "67666262a12eee85",
        "name": "",
        "topic": "/LedControl",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a4b81100130d53ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "f64a2ee93538571f",
                "0a10ea1ce3b6a937",
                "7db39737159ee400",
                "7e2a1bed7b906f66",
                "b1f57196b94a104d",
                "208cc097d186c10c",
                "6e82ecfde2bf32d2",
                "b477ae1226760d17"
            ]
        ]
    }
]