WiFi_MQTT_LED_Control_8_ALL_OFF_1.json
[
    {
        "id": "4d8c6d881111d9af",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "616c71baae600b6f",
        "type": "mqtt out",
        "z": "4d8c6d881111d9af",
        "name": "",
        "topic": "/LedControl",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1c809b05dead725d",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "5befc7414e269414",
        "type": "ui_switch",
        "z": "4d8c6d881111d9af",
        "name": "",
        "label": "LED1",
        "tooltip": "",
        "group": "b7e78917daee8bc7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led1_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led1_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "616c71baae600b6f"
            ]
        ]
    },
    {
        "id": "6d75006823853807",
        "type": "ui_switch",
        "z": "4d8c6d881111d9af",
        "name": "",
        "label": "LED2",
        "tooltip": "",
        "group": "b7e78917daee8bc7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led2_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led2_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "616c71baae600b6f"
            ]
        ]
    },
    {
        "id": "e18fa4a41a8711bf",
        "type": "ui_switch",
        "z": "4d8c6d881111d9af",
        "name": "",
        "label": "LED3",
        "tooltip": "",
        "group": "b7e78917daee8bc7",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led3_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led3_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "616c71baae600b6f"
            ]
        ]
    },
    {
        "id": "9f1c3886ed33532f",
        "type": "ui_switch",
        "z": "4d8c6d881111d9af",
        "name": "",
        "label": "LED4",
        "tooltip": "",
        "group": "b7e78917daee8bc7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led4_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led4_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "616c71baae600b6f"
            ]
        ]
    },
    {
        "id": "c250e707f58267d8",
        "type": "ui_switch",
        "z": "4d8c6d881111d9af",
        "name": "",
        "label": "LED5",
        "tooltip": "",
        "group": "b7e78917daee8bc7",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led5_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led5_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "616c71baae600b6f"
            ]
        ]
    },
    {
        "id": "9e4c05ac083c4e57",
        "type": "ui_switch",
        "z": "4d8c6d881111d9af",
        "name": "",
        "label": "LED6",
        "tooltip": "",
        "group": "b7e78917daee8bc7",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led6_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led6_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "616c71baae600b6f"
            ]
        ]
    },
    {
        "id": "b77b33ff6b6edbeb",
        "type": "ui_switch",
        "z": "4d8c6d881111d9af",
        "name": "",
        "label": "LED7",
        "tooltip": "",
        "group": "b7e78917daee8bc7",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led7_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led7_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 520,
        "wires": [
            [
                "616c71baae600b6f"
            ]
        ]
    },
    {
        "id": "49e5b7611b93a4a3",
        "type": "ui_switch",
        "z": "4d8c6d881111d9af",
        "name": "",
        "label": "LED8",
        "tooltip": "",
        "group": "b7e78917daee8bc7",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "/LedControl",
        "topicType": "msg",
        "style": "",
        "onvalue": "led8_1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "led8_0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 580,
        "wires": [
            [
                "616c71baae600b6f"
            ]
        ]
    },
    {
        "id": "6e6ba02e17c4ca11",
        "type": "ui_button",
        "z": "4d8c6d881111d9af",
        "name": "",
        "group": "b7e78917daee8bc7",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ALL LED OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ALL_LED_OFF",
        "payloadType": "str",
        "topic": "/LedControl",
        "topicType": "msg",
        "x": 320,
        "y": 640,
        "wires": [
            [
                "36784da5722192ca"
            ]
        ]
    },
    {
        "id": "36784da5722192ca",
        "type": "function",
        "z": "4d8c6d881111d9af",
        "name": "function 1",
        "func": "let messages = [];\n\nfor (let i = 1; i <= 8; i++) {\n    messages.push({ topic: \"/LedControl\", payload: \"led\" + i + \"_0\" });\n}\n\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 560,
        "wires": [
            [
                "616c71baae600b6f"
            ]
        ]
    },
    {
        "id": "1c809b05dead725d",
        "type": "mqtt-broker",
        "name": "broker.hivemq.com",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b7e78917daee8bc7",
        "type": "ui_group",
        "name": "Led Control",
        "tab": "9d17ac335cd6d8bb",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9d17ac335cd6d8bb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]